:root {
    --azul-sspm-color: #042a45;
    --amarillo-sspm-color: #f8be29;
    --grey: #3a3a3a;
    --blanco: #ffffff;
}
body {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #f5f5f5;
}
#meet {
    width: 100%;
    height: 100%;
    padding: 50;
}

.modal-movil {
    padding-left: 0 !important;
}

.bg-sspm {
    background-color: var(--azul-sspm-color) !important;
}

.margin-t {
    margin-top: 10rem;
}

.pading-x {
    padding-left: 4rem;
    padding-right: 4rem;
}
.pading-y {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.modal-full {
    min-width: 90vh;
    margin-left: 90;
}

.modal-full .modal-content {
    min-height: 90vh;
}

@media (max-width: 800px) {
    .modal-full {
        min-width: 70vh;
        margin-left: 90;
    }
}

@media (max-width: 700px) {
    .modal-full {
        min-width: 60vh;
        margin-left: 70;
    }
}

@media (max-width: 600px) {
    .modal-full {
        min-width: 50vh;
        margin-left: 70;
    }
}

@media (max-width: 500px) {
    .modal-full {
        min-width: 40vh;
        margin-left: 70;
    }
}

@media (max-width: 400px) {
    .modal-full {
        min-width: 30vh;
        margin-left: 70;
    }
}
/*
@media (min-width: 400px) and (max-width: 610px) {
    .modal-movil .modal-dialog .modal-full {
        width: 90% !important;
    }
}
*/
