#meet {
    width: 100%;
    height: 100%;
    padding: 50;
    margin-top: -5%;
}

.modal-full {
    min-width: 90vh;
    margin-left: 90;
}

.modal-full .modal-content {
    min-height: 90vh;
}

@media (max-width: 800px) {
    .modal-full {
        min-width: 70vh;
        margin-left: 90;
    }
}

@media (max-width: 400px) {
    .modal-full {
        min-width: 30vh;
        margin-left: 90;
    }
}
