<template>
    <div>
        <div class="row justify-content-center">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <audio id="alertasong">
                            <source src="sonidos/sonido1.mp3" type="audio/mpeg">
                        </audio>
                        
                    </div>
                </div>
            </div>
        </div>
          <!-- Modal -->
	    <div class="modal fade " id="myModal" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog modal-xl" role="document">
                <div class="modal-content">
                    <div class="modal-body p-4" id="result">
                        <div class="row">
                            <div class="col-sm">
                                <video controls playsinline autoplay hidden id="recordPlayback"></video>
                                <div id="meet" class="bg-sspm mt-2"></div>
                            </div>
                        </div>
                        <div class="loader mt-5" id="loader" style="display: none">
                            <center>
                                <img src="img/loader.gif" alt="">
                                <h3>¡El video se esta subiendo, esto puede tardar!</h3>
                            </center>
                        </div>
                    </div>
                    <div class="modal-footer d-flex">
                        <div class="mr-auto p-2" v-if="'RECEP' == 'RECEP'">
                            <button v-if="boton == 'colgar'" type="button" class="btn btn-secondary" @click="stopCapture()"  id="cerrar" >Colgar</button>
                            <button v-if="boton == 'terminar'" type="button" class="btn btn-secondary" @click="saveVideo()" id="subirV">Finalizar</button>
                        </div>
                        <div class="mr-auto p-2" v-else>
                            <button type="button" class="btn btn-danger" @click="colgar()" id="subirV">Finalizar</button>
                        </div>
                        <div class="p-2">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<style scoped>

.blue-title {
  color: #002D56;
}
</style>

<script>
    var lat = '';
    var long = '';
    var roomName = '';

    var date = new Date();
    const year = date.getFullYear();
    const month = date.getMonth() +1;
    const day = date.getDate();

    const url_string = window.location.href;        
    const url = new URL(url_string);
    const name = url.searchParams.get("name");
    const code = url.searchParams.get("code");
    const roomname = name + '-' + day + '-' + month + '-' + year + '-' + code;

    const myurl = location.protocol + '//' + location.host + '/';


    var api = null;
    var date = new Date();
    let recorder;
    let recordingData = [];
    let recorderStream;
    const playback = document.getElementById('recordPlayback');

    if(location.pathname == '/videocall') {
        if (name != null && code != null) {
            let _data = {
                name: roomname,
                lat: lat,
                long: long,
                user: name
            }
            $.ajax({
                url: myurl + 'createVideoCall',
                type: 'POST',
                
                dataType: 'json',
                headers:{
                    'X-CSRF-TOKEN': $('meta[name="csrf-token"]').attr('content')
                },
                data: _data,
                success: function(data){
                    console.log('AJAAXX:');
                    console.log(data);
                }
            });
        }else {
            alert('Parametros necesarios para ingresar a la videollamada');
        }
    }

    export default {
        props:['user'],
        data(){
            return {
                calls:[],
                room: 'asdasd',
                despachadores:[],
                medidas: [],
                medida: [],
                call_id: '',
                boton:'colgar',
            }
        },
        created(){
             this.getCalls(roomname);
             Echo.private('call').listen('.calls', (event) => {
                 this.calls.push(event.call);
                 const sonido = document.querySelector("#alertasong");
                 sonido.play();
             });
             Echo.join('contestar').listen('.contestarr', (e) => {
                 var index;
                 this.calls.forEach(function(call, i){
                     if(call.id == e.call.id){
                         index = i;
                     }
                 })
                 this.calls.splice(index,1);
             });
        },
        methods:{
            getCalls(roomname){
                if (name != null && code != null) {
                    axios.get(`callss/${roomname}`).then(res => {
                        this.calls = res.data;
                        console.log('data:');
                        console.log(res.data);
                        console.log(res.data[0].room_name,res.data[0].id);
                        this.video(res.data[0].room_name,res.data[0].id);
                        $("#myModal").modal("show");
                    });
                }
                
            },
            meet(url,id){
                this.room = url;
                this.call_id = id;
                axios.put(`contestar/${id}`).then(res => {
                });
                this.codeAdderess();
            },
            codeAdderess(){
                const domain = 'jitsi.sspmqro.gob.mx';
                const options = {
                    roomName: this.room,
                    width: '100%',
                    height: 800,
                    parentNode: document.querySelector('#meet'),
                    userInfo: {
                        displayName: 'SSPMQRO'
                    },
                    configOverwrite: {
                        requireDisplayName: false,
                        prejoinPageEnabled: false,
                        disableDeepLinking: true,
                    },
                    interfaceConfigOverwrite: {
                        MOBILE_APP_PROMO: false,
                    }
                };
                api = new JitsiMeetExternalAPI(domain, options);
            },
            async video(url, id){
                var gumStream, gdmStream;
                recordingData = [];
                try {
                    gumStream = await navigator.mediaDevices.getUserMedia({video: false, audio: true});
                    gdmStream = await navigator.mediaDevices.getDisplayMedia({video: {displaySurface: "browser"}, audio: {channelCount: 2}});
                    this.meet(url, id);
                } catch (e) {
                    console.error("capture failure", e);
                    return
                }

                recorderStream = gumStream ? this.mixer(gumStream, gdmStream) : gdmStream;
                recorder = new MediaRecorder(recorderStream, {mimeType: 'video/webm'});

                recorder.ondataavailable = e => {
                    if (e.data && e.data.size > 0) {
                        recordingData.push(e.data);
                    }
                };
                recorder.onStop = () => {
                    recorderStream.getTracks().forEach(track => track.stop());
                    gumStream.getTracks().forEach(track => track.stop());
                    gdmStream.getTracks().forEach(track => track.stop());

                };

                recorderStream.addEventListener('inactive', () => {
                    console.log('Capture stream inactive');
                    stopCapture();
                });

                recorder.start();
                console.log("started recording");
            }, //fin video
            stopCapture(){
                console.log("Stopping recording");
                recorder.stop();
                axios.put(`terminarllamada/${this.call_id}`).then(res => {
                    if(res.data.status == 'success'){
                        this.boton = 'terminar';
                        api.dispose();
                    }
                });
            }, //fin StopCapture
            mixer(stream1, stream2){
                const ctx = new AudioContext();
                const dest = ctx.createMediaStreamDestination();

                if(stream1.getAudioTracks().length > 0)
                    ctx.createMediaStreamSource(stream1).connect(dest);

                if(stream2.getAudioTracks().length > 0)
                    ctx.createMediaStreamSource(stream2).connect(dest);

                let tracks = dest.stream.getTracks();
                tracks = tracks.concat(stream1.getVideoTracks()).concat(stream2.getVideoTracks());

                return new MediaStream(tracks)
            }, //fin Mixer
            getFilename(){
                const now = new Date();
                const timestamp = now.toISOString();
                const room = new RegExp(/(^.+)\s\|/).exec(document.title);
                if(room && room[1]!=="")
                    return `${room[1]}_${timestamp}`;
                else
                    return `recording_${timestamp}`;
            },
            async saveVideo(){
                document.getElementById("loader").style.display = 'block';
                document.getElementById("subirV").disabled = true;
                const blob = new Blob(recordingData, {type: 'video/webm'});
                const url = window.URL.createObjectURL(blob);
                var fileObject = new File([blob], this.getFilename(), {
                    type: 'video/webm'
                });

                var formData = new FormData();
                        // recorded data
		        formData.append('video', fileObject);
                        // file name
                formData.append('nameVideo', this.room);
                formData.append('id', this.call_id);
                await axios.post('guardar-video', formData,
                    {
                        headers: {
                            'Content-Type': 'multipart/form-data'
                        }
                    }
                ).then(function(data){
                    console.log('ok', data);
                    //location.reload();
                    $("#myModal").modal("hide");
                    document.getElementById("loader").style.display = 'none';
                    location.href = myurl + "videocall";
                }).catch(function(err){
                    console.log('FAILURE!!', err);
                });

            },
            colgar(){
                axios.put(`terminarllamada/${this.call_id}`).then(res => {
                    if(res.data.status == 'success'){
                        this.boton = 'terminar';
                        api.dispose();
                        //location.reload();
                        $("#myModal").modal("hide");
                        document.getElementById("loader").style.display = 'none';
                        location.href = myurl + "videocall";
                    }
                });
            }
        }
    }
    
</script>
