<template>
	<div>
		<div class="row justify-content-center">
			<div class="col-md-12">
				<div class="card">
					<div class="card-body">
						<a href="/historial" target="_blank" class="btn btn-lg btn-dark text-white">Historico</a>
						<audio id="alertasong">
							<source src="sonidos/sonido1.mp3" type="audio/mpeg" />
						</audio>
						<div class="table-responsive mt-4">
							<table class="table text-center">
								<thead>
									<tr>
										<th scope="col">#</th>
										<th scope="col">Usuario</th>
										<th scope="col">Sala</th>
										<th scope="col">Acciones</th>
									</tr>
								</thead>
								<tbody>
									<tr v-for="call in calls" :key="call.id" v-if="call.usuario !== 'MedidasProteccion'">
										<th scope="row" :style="{ 'background-color': call.color }">{{ call.id }}</th>
										<td>{{ call.usuario }}</td>
										<td>{{ call.room_name }}</td>
										<td>
											<button
												v-if="user.modulo_vllam[0].pivot.CveSubMod == 'RECEP'"
												class="btn btn-lg btn-success"
												@click="
													video(call.room_name, call.id);
													getLink(call.usuario);
													getMedida(call.usuario);
													imprimir(user);
												"
												data-toggle="modal"
												data-target="#myModal"
											>
												Contestar
											</button>
											<button
												v-else
												class="btn btn-lg btn-success"
												@click="
													meet(call.room_name, call.id);
													imprimir(user);
												"
												data-toggle="modal"
												data-target="#myModal"
											>
												Contestar
											</button>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- Modal -->
		<div
			class="modal fade"
			id="myModal"
			data-backdrop="static"
			data-keyboard="false"
			tabindex="-1"
			aria-labelledby="staticBackdropLabel"
			aria-hidden="true"
		>
			<div class="modal-dialog modal-xl" role="document">
				<div class="modal-content">
					<div class="modal-body p-4" id="result">
						<div class="row">
							<div class="col-sm">
								<video controls playsinline autoplay hidden id="recordPlayback"></video>
								<div id="meet" class="bg-sspm mt-2"></div>
							</div>
							<div id="isMP" class="col-sm-3 info-mp" style="display: none">
								<h2 class="blue-title">MEDIDAS DE PROTECCIÓN</h2>
								<h5><b>Beneficiario(s):</b></h5>
								<p>{{ medida.beneficiario }}</p>
								<h5><b>Num. telefónico:</b></h5>
								<p>{{ medida.telefono }}</p>
								<h5><b>Colonia:</b></h5>
								<p>{{ medida.VMP911Colonia }}</p>
								<h5><b>Calle:</b></h5>
								<p>{{ medida.calle }}</p>
								<h5><b>Número:</b></h5>
								<p>{{ medida.número }}</p>
								<h5><b>Red de apoyo:</b></h5>
								<p>{{ medida.redApoyo }}</p>
								<br />
								<h5><b>Agresor:</b></h5>
								<p>{{ medida.agresores }}</p>
								<h5><b>Descripción:</b></h5>
								<p>{{ medida.descripción }}</p>
								<p></p>
								<a :href="linksito" target="_blank" class="btn btn btn-dark text-white">Crear folio de emergencia</a>
								<p></p>
							</div>
						</div>
						<div class="loader mt-5" id="loader" style="display: none">
							<center>
								<img src="img/loader.gif" alt="" />
								<h3>¡El video se esa subiendo, esto puede tardar!</h3>
							</center>
						</div>
					</div>
					<div class="modal-footer d-flex">
						<div class="mr-auto p-2" v-if="user.modulo_vllam[0].pivot.CveSubMod == 'RECEP'">
							<button v-if="boton == 'colgar'" type="button" class="btn btn-secondary" @click="stopCapture()" id="cerrar">
								Colgar
							</button>
							<button v-if="boton == 'terminar'" type="button" class="btn btn-danger" @click="saveVideo()" id="subirV">
								Finalizar
							</button>
						</div>
						<div class="mr-auto p-2" v-else>
							<button type="button" class="btn btn-danger" @click="colgar()" id="subirV">Finalizar</button>
						</div>
						<div class="p-2 dropdown">
							<button
								class="btn btn-info dropdown-toggle"
								type="button"
								id="dropdownMenuButton"
								data-toggle="dropdown"
								aria-haspopup="true"
								aria-expanded="false"
							>
								Transferir
							</button>
							<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
								<div v-for="despachador in despachadores" :key="despachador.id">
									<button class="dropdown-item" @click="transferir(despachador.EstacionTraba)">
										{{ despachador.DesDespacha }}
									</button>
									<div class="dropdown-divider"></div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>

<style scoped>
.info-mp {
	border: 2px #002d56;
	border-style: solid;
	border-radius: 25px;
}

.blue-title {
	color: #002d56;
}
</style>

<script>
var api = null;
var date = new Date();
let recorder;
let recordingData = [];
let recorderStream;
const playback = document.getElementById('recordPlayback');
export default {
	props: ['user'],
	data() {
		return {
			colors: [],
			calls: [],
			room: 'asdasd',
			despachadores: [],
			medidas: [],
			linksito: '',
			medida: [],
			call_id: '',
			boton: 'colgar',
			qtycalls: 0,
		};
	},
	created() {
		this.getColors();
		this.getDespachadores();
		//this.getMedidas();
		this.getCalls();
		Echo.private('call').listen('.calls', (event) => {
			console.log('191 esta pasando');
			this.calls.push(event.call);
			if (this.calls.length > 0) {
				console.log('getCalls de llamadas: ', this.calls.length);
				const sonido = document.querySelector('#alertasong');
				sonido.loop = true;
				if ($('#myModal').hasClass('show') == false) {
					sonido.play();
				}
			} else if (this.calls.length == 0) {
				console.log('No hay', this.calls.length);
				const sonido = document.querySelector('#alertasong');
				sonido.pause();
			} else {
				console.log('Ni idea', this.calls.length);
				const sonido = document.querySelector('#alertasong');
				sonido.pause();
			}
		});
		 Echo.join('contestar').listen('.contestarr', (e) => {
			//const sonido = document.querySelector('#alertasong');
			sonido.pause();
			console.log('Entro a este echo join? Contestar');
			var index;
			this.calls.forEach(function (call, i) {
				if (call.id == e.call.id) {
					index = i;
				}
			});
			this.calls.splice(index, 1);
			console.log('Restando llamada Contestar, total: ', this.calls.length);
			if (this.calls.length == 0) {
				sonido.pause();
			}
		}); 
		Echo.join('contestarcrum').listen('.contestarrcrum', (e) => {
			const sonido = document.querySelector('#alertasong');
			console.log('Entro CRUM', 'Call ID: ', call.id, 'e Call ID: ', e.call.id);
			var index;
			this.calls.forEach(function (call, i) {
				if (call.id == e.call.id) {
					index = i;
				}
			});
			this.calls.splice(index, 1);
			console.log('Restando llamada CRUM, total: ', this.calls.length);
			if (this.calls.length == 0) {
				sonido.pause();
			}
		});
		Echo.join('contestaroperador').listen('.contestarroperador', (e) => {
			const sonido = document.querySelector('#alertasong');
			console.log('Entro Operador', 'Call ID: ', call.id, 'e Call ID: ', e.call.id);
			var index;
			this.calls.forEach(function (call, i) {
				if (call.id == e.call.id) {
					index = i;
				}
			});
			this.calls.splice(index, 1);
			console.log('Restando llamada OPERADOR, total: ', this.calls.length);
			if (this.calls.length == 0) {
				sonido.pause();
			}
		});
		Echo.join('contestarmedic').listen('.contestarrmedic', (e) => {
			const sonido = document.querySelector('#alertasong');
			console.log('Entro MEDIC', 'Call ID: ', call.id, 'e Call ID: ', e.call.id);
			var index;
			this.calls.forEach(function (call, i) {
				if (call.id == e.call.id) {
					index = i;
				}
			});
			this.calls.splice(index, 1);
			console.log('Restando llamada MEDIC, total: ', this.calls.length);
			if (this.calls.length == 0) {
				sonido.pause();
			}
		});
		Echo.join('transferir').listen('.transfer', (event) => {
			const sonido = document.querySelector('#alertasong');

			switch (this.user.modulo_vllam[0].pivot.CveSubMod.trim()) {
				case 'DG621':
					if (event.call.DesDespacha.trim() == 'DGUAR621') {
						sonido.loop = true;
						sonido.play();
						this.calls.push(event.call);
					}
					break;
				case 'DG622':
					if (event.call.DesDespacha.trim() == 'DGUAR622') {
						sonido.loop = true;
						sonido.play();
						this.calls.push(event.call);
					}
					break;
				case 'DG623':
					if (event.call.DesDespacha.trim() == 'DGUAR625') {
						sonido.loop = true;
						sonido.play();
						this.calls.push(event.call);
					}
					break;
				case 'DG624':
					if (event.call.DesDespacha.trim() == 'DGUAR624') {
						sonido.loop = true;
						sonido.play();
						this.calls.push(event.call);
					}
					break;
				case 'CRUM':
					if (event.call.DesDespacha.trim() == 'CRUM') {
						sonido.loop = true;
						sonido.play();
						this.calls.push(event.call);
					}
					break;
				case 'MEDIC':
					if (event.call.DesDespacha.trim() == 'CRUM') {
						sonido.loop = true;
						sonido.play();
						this.calls.push(event.call);
					}
					break;
			}
		});
	},
	methods: {
		//parametro de aceptación el mp y con la función obtener folio y benef (si tiene, si no agregar el valor de 1 y ajustar url)
		getLink(mp) {
			if (mp.includes('-')) {
				var index = mp.indexOf('-');
				var strmed = mp.substr(2, index - 2);
				var strbenef = mp.substr(index + 1);
			} else {
				var index = mp.length;
				var strmed = mp.substr(2, index - 2);
				var strbenef = 1;
			}
			//alert(strmed);
			axios.get('link').then((res) => {
				this.linksito = res.data.trim() + strmed + ',' + strbenef;
			});
		},
		getMedida(mp) {
			if (mp.includes('-')) {
				let index = mp.indexOf('-');
				let strmed = mp.substr(2, index - 2);
				let strbenef = mp.substr(index + 1);

				if (
					(mp.charAt(0) == 'm' || mp.charAt(0) == 'M') &&
					(mp.charAt(1) == 'p' || mp.charAt(1) == 'P') &&
					mp.length == 8 &&
					!isNaN(strmed) &&
					!isNaN(strbenef)
				) {
					axios.get(`medida/${strmed}/${strbenef}`).then((res) => {
						this.medida = res.data;
						if (res.data.resultado == 'true') {
							document.getElementById('isMP').style.display = 'block';
						}
					});
				}
			} else {
				let index = mp.length;
				let strmed = mp.substr(2, index - 2);
				if ((mp.charAt(0) == 'm' || mp.charAt(0) == 'M') && (mp.charAt(1) == 'p' || mp.charAt(1) == 'P') && !isNaN(strmed)) {
					axios.get(`medida/${strmed}`).then((res) => {
						this.medida = res.data;
						if (res.data.resultado == 'true') {
							document.getElementById('isMP').style.display = 'block';
						}
					});
				}
			}
		},
		getDespachadores() {
			axios.get('despachadores').then((res) => {
				this.despachadores = res.data;
			});
		},
		getColors() {
			axios.get('colors').then((res) => {
				this.colors = res.data;
			});
		},
		getCalls() {
			console.log('375 esta pasando actualizado x11');
			axios.get('calls').then((res) => {
				let tempArray = res.data;
				let isFromApp;
				for (let i = 0; i < tempArray.length; i++) {
					tempArray[i].color = '#FFFFFF';
					for (let j = 0; j < this.colors.length; j++) {
						isFromApp = tempArray[i].room_name.trim().includes(this.colors[j].categoria.trim());
						if (isFromApp == true) {
							tempArray[i].color = this.colors[j].color_categoria.trim();
						}
					}
				}
				this.calls = tempArray;

				if (this.calls.length > 0) {
					console.log('Cantidad de llamadas: ', this.calls.length);
					const sonido = document.querySelector('#alertasong');
					sonido.loop = true;
					if ($('#myModal').hasClass('show') == false) {
						sonido.play();
					}
				} else if (this.calls.length == 0) {
					console.log('No hay llamadas', res.data.length);
					const sonido = document.querySelector('#alertasong');
					sonido.pause();
				} else {
					console.log('Error con la long de llamadas', res.data.length);
					const sonido = document.querySelector('#alertasong');
					sonido.pause();
				}
			});
		},
		imprimir(u) {
			//console.log(u);
		},
		meet(url, id) {
			this.room = url;
			this.call_id = id;
			if (this.user.modulo_vllam[0].pivot.CveSubMod.trim() == 'RECEP') {
				axios.put(`contestaroperador/${id}`).then((res) => {});
			} else if (this.user.modulo_vllam[0].pivot.CveSubMod.trim() == 'CRUM') {
				axios.put(`contestarcrum/${id}`).then((res) => {});
			} else if (this.user.modulo_vllam[0].pivot.CveSubMod.trim() == 'MEDIC') {
				axios.put(`contestarmedic/${id}`).then((res) => {});
			} else {
				axios.put(`contestar/${id}`).then((res) => {});
			}
			this.codeAdderess();
		},
		codeAdderess() {
			const domain = 'jitsi.sspmqro.gob.mx';
			const options = {
				roomName: this.room,
				width: '100%',
				height: 800,
				parentNode: document.querySelector('#meet'),
				userInfo: {
					displayName: this.user.NombreUsr,
				},
				configOverwrite: {
					requireDisplayName: false,
					prejoinPageEnabled: false,
					disableDeepLinking: true,
				},
				interfaceConfigOverwrite: {
					MOBILE_APP_PROMO: false,
				},
			};
			api = new JitsiMeetExternalAPI(domain, options);
		},
		transferir(despachador) {
			axios.put(`/transferir/${this.call_id}`, { DesDespacha: despachador }).then((res) => {
				//console.log(res);
			});
		},
		async video(url, id) {
			var gumStream, gdmStream;
			recordingData = [];
			const sonido = document.querySelector('#alertasong');
			sonido.pause();
			try {
				gumStream = await navigator.mediaDevices.getUserMedia({ video: false, audio: true });
				gdmStream = await navigator.mediaDevices.getDisplayMedia({ video: { displaySurface: 'browser' }, audio: { channelCount: 2 } });
				this.meet(url, id);
			} catch (e) {
				console.error('capture failure', e);
				return;
			}

			recorderStream = gumStream ? this.mixer(gumStream, gdmStream) : gdmStream;
			recorder = new MediaRecorder(recorderStream, { mimeType: 'video/webm' });

			recorder.ondataavailable = (e) => {
				if (e.data && e.data.size > 0) {
					recordingData.push(e.data);
				}
			};
			recorder.onStop = () => {
				recorderStream.getTracks().forEach((track) => track.stop());
				gumStream.getTracks().forEach((track) => track.stop());
				gdmStream.getTracks().forEach((track) => track.stop());
			};

			recorderStream.addEventListener('inactive', () => {
				console.log('Capture stream inactive');
				stopCapture();
			});

			recorder.start();
			console.log('started recording');
		}, //fin video
		stopCapture() {
			document.getElementById('isMP').style.display = 'none';
			console.log('Stopping recording');
			recorder.stop();
			axios.put(`terminarllamada/${this.call_id}`).then((res) => {
				if (res.data.status == 'success') {
					this.boton = 'terminar';
					api.dispose();
				}
			});
		}, //fin StopCapture
		mixer(stream1, stream2) {
			const ctx = new AudioContext();
			const dest = ctx.createMediaStreamDestination();

			if (stream1.getAudioTracks().length > 0) ctx.createMediaStreamSource(stream1).connect(dest);

			if (stream2.getAudioTracks().length > 0) ctx.createMediaStreamSource(stream2).connect(dest);

			let tracks = dest.stream.getTracks();
			tracks = tracks.concat(stream1.getVideoTracks()).concat(stream2.getVideoTracks());

			return new MediaStream(tracks);
		}, //fin Mixer
		getFilename() {
			const now = new Date();
			const timestamp = now.toISOString();
			const room = new RegExp(/(^.+)\s\|/).exec(document.title);
			if (room && room[1] !== '') return `${room[1]}_${timestamp}`;
			else return `recording_${timestamp}`;
		},
		async saveVideo() {
			document.getElementById('loader').style.display = 'block';
			document.getElementById('subirV').disabled = true;
			const blob = new Blob(recordingData, { type: 'video/webm' });
			const url = window.URL.createObjectURL(blob);
			var fileObject = new File([blob], this.getFilename(), {
				type: 'video/webm',
			});

			var formData = new FormData();
			// recorded data
			formData.append('video', fileObject);
			// file name
			formData.append('nameVideo', this.room);
			formData.append('id', this.call_id);
			await axios
				.post('guardar-video', formData, {
					headers: {
						'Content-Type': 'multipart/form-data',
					},
				})
				.then(function (data) {
					console.log('ok', data);
					location.reload();
				})
				.catch(function (err) {
					console.log('FAILURE!!', err);
				});
		},
		colgar() {
			document.getElementById('isMP').style.display = 'none';
			axios.put(`terminarllamada/${this.call_id}`).then((res) => {
				if (res.data.status == 'success') {
					this.boton = 'terminar';
					api.dispose();
					location.reload();
				}
			});
		},
	},
};
</script>
