<template>
    <div>
        <div class="card text-center mt-5">
            <div class="card-header bg-sspm">
                <h3 class="text-white">Bienvenido</h3>
            </div>
            <div class="card-body">
                <div class="form-signin">
                    <img class="mb-4" src="img/sspm.png" alt="" width="150" height="150"/>
                    <h1 class="h3 mb-3 font-weight-normal"> Comenzar llamada </h1>
                    <label for="nombre">Por favor indica tu nombre</label>
                    <input type="text" class="form-control" id="nombre" name="nombre" placeholder="Nombre">
                    <button id="call" class="btn btn-lg btn-danger btn-block mt-5" type="button" data-toggle="modal" data-target="#myModal"><i class="fas fa-mobile-alt"></i> Iniciar Llamada</button>
                </div>
                <div>
                    <p class="mt-5 mb-3 text-muted">&copy;SSPMQ <sub>SSPMQ</sub></p>
                </div>
            </div>
        </div>
        <video autoplay id="video" hidden></video>
        <!-- Modal -->
	    <div class="modal fade" id="myModal" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog modal-full" role="document">
                <div class="modal-content">
                    {{-- <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div> --}}
                    <div class="modal-body p-4" id="result">
                        <div class="row">
                        </div>
                        <div id="meet" class="bg-sspm"></div>
                    </div>
                    <div class="modal-footer d-flex justify-content-start">
                        <button id="finish" type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                    </div>
                </div>
            </div>
        </div>

    </div>
</template>
<script>
export default {
    data(){
        return{

        }
    },
    created(){
        this.getIpClient()
    },
    methods:{

        video(){
            let video = document.querySelector("#video");
            var displayMediaOptions = {
                video: {
                    cursor: "always"
                },
                audio: true
            };
            document.querySelector("#boton").addEventListener('click', function(ev){
                navigator.mediaDevices.getDisplayMedia(displayMediaOptions).then(record).catch(err => console.log(err));

            });
            let chunks = [];
            function record(stream){
                video.srcObject = stream;

                let mediaRecorder = new MediaRecorder(stream,{
                    mimeType: 'video/webm;codecs=h264'
                });

                mediaRecorder.start();
                mediaRecorder.ondataavailable = function(e){
                    console.log(e.data);
                    chunks.push(e.data);
                }
                mediaRecorder.onstop = function(){
                alert('finalizo la grabacion');
                let blob = new Blob(chunks, {type:"video/webm"});
                chunks = [];
                download(blob);
                }

                setTimeout(()=>mediaRecorder.stop(), 10000)
            }
            function download(blob){
                var link = document.createElement('a');
                link.href = window.URL.createObjectURL(blob);
                link.setAttribute("download", "video_recorded.webm");
                link.style.display = 'none';
                document.body.appendChild(link);
                link.click();
                link.remove();
            }
        },
        async getIpClient() {
            try {
                const response = await axios.get('https://ipinfo.io?token=5f104e08af0b98');
                console.log(response);
            } catch (error) {
                console.error(error);
            }
        }
    }
}
</script>
